In [18]:
import pandas as pd
from matplotlib import pyplot as plt
df=pd.read_csv('salaries.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [19]:
x = df.replace({'google':0,'abc pharma':1,'facebook':2,'sales executive':0,'business manager':1,'computer programmer':2,'bachelors':0,'masters':1})
y = x['salary_more_then_100k']
x = x.drop(columns=['salary_more_then_100k'])
x

C:\Users\rajen\AppData\Local\Temp\ipykernel_150648\882273332.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  x = df.replace({'google':0,'abc pharma':1,'facebook':2,'sales executive':0,'business manager':1,'computer programmer':2,'bachelors':0,'masters':1})

    company  job  degree
0         0    0       0
1         0    0       1
2         0    1       0
3         0    1       1
4         0    2       0
5         0    2       1
6         1    0       1
7         1    2       0
8         1    1       0
9         1    1       1
10        2    0       0
11        2    0       1
12        2    1       0
13        2    1       1
14        2    2       0
15        2    2       1

In [20]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x,y)
model.predict([[2,2,1]])

C:\Users\rajen\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [21]:
model.score(x,y)

0.75

In [23]:
print(df.shape)

(16, 4)

In [24]:
print(df.isna().sum())

company                  0
job                      0
degree                   0
salary_more_then_100k    0
dtype: int64

In [25]:
x=df[['company','job','degree']]
y=df['salary_more_then_100k']
print(x.to_string())
print(y.to_string())

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters
0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1

In [16]:
from sklearn.linear_model import LinearRegression

In [26]:
model=LinearRegression()
model.fit(x,y)

ValueError: could not convert string to float: 'google'